<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand hire-me mx-5" href="/jobs/6060d964d3e14953ac3ddbfd"><img class="logo" src="/images/logo.png" alt="Hire Me"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-5 mr-auto">
        <li class="nav-item active">
        </li>
      </ul>

      <a class="nav-item active nav-link" href="/dashboard">Dashboard <span class="sr-only">(current)</span></a>
      <div class="fmy-2 nav-item my-lg-0">

        <div class="dropdown">
          <button class="dropbtn">
            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 3c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm0 14.2c-2.5 0-4.71-1.28-6-3.22.03-1.99 4-3.08 6-3.08 1.99 0 5.97 1.09 6 3.08-1.29 1.94-3.5 3.22-6 3.22z"/></svg>
          </button>
          <div class="dropdown-content">
            <p><%= user.email %> (<%= user.fname %>)</p>
            <a href="/profile">Profile</a>
            <a href="/users/logout">Logout</a>
          </div>
        </div>

      </div>
    </div>
  </nav>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<style>


.hire-me {
      color: #950952 !important;
      font-size: 1.5rem;
      font-weight: 600;
  }
</style>