<html>
<head>
<title>Hire Me - DSC Modern Academy in Maadi</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/main.css" />
</head>
<body>
<%- body %>
</body>
</html>