<%- include ('./partials/header') %>
<h1 class="text-center">Lesson <%= lesson.name %></h1>
<br><br><br>
<br><br><br>
<br><br><br>

<p class="text-center"><%= lesson.description %></p>
<p class="text-center"><%= lesson.partial %></p>

