<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .hero-bg {
            padding-top: 100px;
            padding-bottom: 50px;
            height: fit-content;
            background-image: url("/images/Group 42.png");
            position: relative
        }

        .center {
            text-align: center;
            color: white;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 3em;
            padding-top: 35px;
        }

        p {
            margin: 0;
        }

        .box2 {
            background-color: #E5E5E5;
            height: 600px;
        }

        .box2 h2 {
            margin: 0;
            padding-top: 3%;
            border-bottom: none !important;
            padding-left: 3%;
        }

        div.course {
            background-image: url("Node.png");
            background-color: green;
            background-size: contain;
            border-radius: 15px;
            width: 100px;
            height: 30px;
            padding: 100px;
            left: 34%;
            transform: translate(-50%, 0);
            position: absolute;

        }

        .text-block {
            position: absolute;
            left: 23%;
            top: 670px;
            /* background-color: black; */
            color: white;
            /* background-color: white; */
            /* opacity: 0.7; */
            font-family: Arial, Helvetica, sans-serif;
            padding: 30px;
            border-radius: 0.5em;
            background-color: green;
            width: fit-content;
        }

        .text-block h3 {
            margin: 0;
            margin-left: 0px;
            margin-top: 20px;
        }

        .text-block p {
            margin: 0;
            margin-left: 0px;
            margin-top: 5px;
        }

        #circle {
            background: white;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            margin-top: -49px;
            margin-left: 200px;
        }


        .hire-me {
            color: #950952 !important;
            font-size: 1.5rem;
            font-weight: 600;
        }
    </style>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand hire-me mx-5" href="#"><img class="logo" src="/images/logo.png" alt="Hire Me"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-5 mr-auto">
                <li class="nav-item active">
                </li>
            </ul>

            <a class="nav-item active nav-link" href="/users/register">Register</a>
            <a class="nav-item active nav-link" href="/users/login"> Login</a>

        </div>
    </nav>

    <div class="hero-bg">
        <p class="center">A journey of a thousand miles begins with </p>
        <p class="center">a single step</p>
    </div>
    <div class="box2">
        <h2>Available Tracks</h2>
        <a class="nav-item active nav-link" href="/users/login">
            <div class="text-block">
                <h3>Frontend</h3>
                <p>Front end Web Developer</p>
                <div id="circle"></div>
            </div>
        </a>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>

</html>