.box {
    height: 100px;
    width: 100px;
    position: relative;
    background: #72014c65;
    border-radius: 100%;
    overflow: hidden;
    border: 5px solid rgba(255, 0, 157, 0.24);
}
.box .water {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    transform: translate(0, 100%);
    background-image: linear-gradient(to bottom right, #e030d8, #950952);
    transition: all 0.3s;
}
.box .water_wave {
    width: 200%;
    position: absolute;
    bottom: 100%;
}
.box .water_wave_back {
    right: 0;
    fill: #ffc7e8;
    animation: wave-back 1.4s infinite linear;
}
.box .water_wave_front {
    left: 0;
    fill: #e030d794;
    margin-bottom: -1px;
    animation: wave-front 0.7s infinite linear;
}
@keyframes wave-front {
    100% {
        transform: translate(-50%, 0);
   }
}
@keyframes wave-back {
    100% {
        transform: translate(50%, 0);
   }
}

.row {
    position:relative;
    height: 150px;
}
.svg2, .svg3 {
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    transform: rotate(150deg);
    top: -90%;
}
.svg3 {

  -webkit-transform: scaleY(-1);
  transform: scaleY(-1) rotate(330deg);

  left:45%;
}

.grape1 {
    position: absolute;
    left: 60%;
    transform: translate(-50%,0);
}
.blabla1 {
    position: absolute;
    left: 70%;
    transform: translate(-50%,0);
}

.grape2 {
    position: absolute;
    left: 40%;
    transform: translate(-50%,0);
}
.blabla2 {
    position: absolute;
    left: 30%;
    transform: translate(-50%,0);
    text-align: right;
}

.bodybo {
    background: rosybrown url('../images/pink.jpg');
    background-size: cover;
    background-blend-mode: screen;
}


iframe {
    margin: 0 auto;
    background-color: rgb(136, 7, 82);
    display: block;
    border-style:none;
}






.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
  }
.dropdown-content p {
    padding: 12px 16px;
    color: grey;
}
.dropdown-content a:hover, .dropdown-content p:hover {
    background-color: #ddd;
  }

.dropdown:hover .dropdown-content {
    display: block;
  }

.dropdown-content {
    display: none;
    position: absolute;
    transform: translate(-80%,0);
    background-color: #f9f9f9;
    min-width: 160px;
    width: fit-content;
    width: max-content;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 0px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}